.username-container {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  right: 80px; 
  font-size: 25px; 
  padding:5px 10px;
}


.load-container {
  position: absolute;
  top: 50%; /* the middle of the screen */
  right: 90px; /* distance from right of the screen */
  transform: translateY(-50%); /* to center it vertically */
}

.textbox-container {
  position: absolute;
  top: 50%; /* the middle of the screen */
  left: 50%; /* the middle of the screen */
  transform: translate(-50%,-50%); /* to center it both horizontally and vertically */
  text-align: center; /* to center the text inside the container */
  width: 60%; /* fill the 40% of the screen width */
  height: 30%;
}

.text-display{
  border: 1px solid #000;
  padding: 2%;
  font-size: 1.2em;
  background-color: #f2f2f2;
  overflow-y: auto; /* add a scroll bar if the text is too long*/
}
